name: "build"
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./datasets
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.12' 
      - name: Initialize
        run: |
          chmod +x *.sh
          ./init.sh
          ./download.sh
          ./start.sh
      - name: Execute
        run: |
          pip install -r requirements.txt
          cd data
          unzip cimice-dataset-2024-03-11.zip -d cimice-dataset
          cd -
          ./run.sh
      - name: Dump
        run: |
          python create_dump_script.py
          chmod +x *.sh
          ./dump.sh
      - name: Install Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: package.json
      - name: Release
        run: |
          cd .. 
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
